.header {
  background: linear-gradient(to right, #5B483A 0%, #262425 100%);


  // .header__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    height: 60px;
  }
  // .header__logo
  &__logo {}
  // .header__menu
  &__menu {}
}