html {
  scroll-behavior: smooth;
}

body {
  @extend %font-prim;
  font-weight: 400;
  &.lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 1 auto;
}

.container {
  width: $content-width;
  margin: 0 auto;
}

.section {
  padding: 80px 0 100px 0;
  &_dark {
    background-color: $color-section;
  }
}

.title {
  max-width:400px;
  font-size: $font-title;
  color: $color-dark-title;
  line-height: 130%;
  letter-spacing: 0.06em;
  &_centre{
    text-align:center;
    margin: 0 auto;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  height: 52px;
  padding: 0px 45px;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
  border-radius: 100px;
  @extend %transition;
  &:hover {
    background: $color-primary-light;
  }
  &_dark {
    background: darken($color-primary,3);
  }
}

