html {
  scroll-behavior: smooth;
}

body {
  @extend %font-prim;
  font-weight: 400;
  &.lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 1 auto;
}

.container {
  width: $content-width;
  margin: 0 auto;
}

